@charset "utf-8";






body {
    background-image: url(../Picture/SeibuTetsudoEdited.jpg);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: cover;
}

h2,h1{
    background-color: rgba(36, 209, 240, 0.39);
    width: fit-content;
}

#background {
    background-image: url(../Picture/watercolor_00085.jpg);

}

h3{
    background-color: rgba(89, 236, 241, 0.411);
    width: fit-content;
}

